@charset "utf-8";

/* 变量开始 */
$font-color:#4c4c4c;
$font-color-red:#f6390d;
/* 变量结束 */
/* 公共class */
.block{
  width: 6px;
  height: 16px!important;
  background: $font-color-red;
  margin-right: 6px!important;
  margin-top: 10px!important;
}
.sel-page{
  background: #139dfa!important;
}
/* 公共class结束 */

.jyyxq{
  padding-top: 40px;
  height:1810px;

  .in-jyyxq{
    width: 100%;

    .info{
      width:270px;
      height: 480px;
      background: #fff;
      box-shadow: 0px 3px 2px #d9d9d9;
      // border-right: 2px solid #d9d9d9;

      >div:nth-child(1){
        border-bottom: 1px solid #ededed;
        text-align: center;
        padding-bottom: 20px;

        img{
          margin: 40px 105px 20px 105px;
        }
        span{
          font-weight: bold;
          font-size: 16px;
        }

      }
      >div:nth-child(2){
        padding: 30px 20px 40px 20px;
        >span{
          font-weight: bold;
          font-size: 16px;
          color:#1a1a1a;
        }

        >div{
          &:first-of-type{
            margin-top: 30px;
          }
          &:last-of-type{
            margin-bottom: 0px;
          }
          margin-bottom:20px;

          >img{
            margin-right: 10px;
          }

          >span{
            font-size: 14px;
            color: $font-color;
          }
        }

      }
      >div:nth-child(3){
        padding: 0px 20px;

        a{
          width: 100%;
          height: 50px;
          background: #fff;
          border: 1px solid #0d9cf6;
          line-height: 35px;
          color: #0d9cf6;

          &:hover{
            background: #0d9cf6;
            color: #fff;
          }
        }
      }
    }

    .for{
      width: 930px;
      height:1600px;
      box-shadow: 0px 3px 12px #d9d9d9;
      padding-left: 20px;
      padding-right: 20px;

      .title{
        border:1px solid red;
        line-height: 35px;
        padding-left: 0px;
        margin-top: 30px;
        margin-bottom: 20px;
      }

      .ddxx-title{
        margin-bottom: 20px;
        border-bottom: 0px;
        line-height: 35px;

        >div:nth-of-type(2),>div:nth-of-type(3){
          margin-left: 30px;

          >img{
            margin-top: -5px;
            margin-right: 10px;
          }
        }
      }

      .ddxx{
        margin-top: 30px;

        #myTab{
          margin-left: 0px;

          li{
            width:120px;
            text-align: center;

            a{
              color:$font-color;
              outline: none;
              font-size: 16px;
            }
          }
        }
        .tab-content{
          margin-left: 0px;
          margin-right: 0px;
          width: 100%;

          table{
            width: 100%;
          }

          tr:nth-child(odd){
            background: #f2f2f2;
            border-top: 1px solid #ededed;
            border-bottom: 1px solid #ededed;
          }

          tr:first-child{
            background: #fef9f0;
            border-top: 1px solid #d9d9d9;
            border-bottom: 1px solid #d9d9d9;
            box-shadow: 0px 2px 6px #d9d9d9;
            margin-bottom: 2px;
          }
          th{
            text-align: center;
            font-size: 14px;
          }

          td{
              text-align: center;
              color:$font-color;
              font-size: 12px;

              &:hover , a:hover{
                color:$font-color-red;
              }
          }

          #chicang{
            td{
              &:nth-child(1):hover{
                color:$font-color;
              }

              &:nth-child(8),&:nth-child(9){
                color:$font-color-red;
              }
            }
          }

          #lishi{
            td{
              &:nth-child(4),&:nth-child(6){
                color:$font-color-red;
              }
            }
          }
        }
      }
      .yjtj{
        width: 100%;
        height:100px;
        padding: 0px;

        >div{
          width: 148px;
          height:100px;
          border:1px solid #ccc;
          margin: 0px;
          float: left;
          border-left:0px;

          &:first-child{
            border-left:1px solid #ccc;
          }

          div:first-of-type{
            width: 100%!important;
            margin-top: 20px;
            font-size: 16px;
            font-weight: bold;
            color:$font-color-red;
            text-align: center;
          }
          div:last-of-type{
            width: 100%;
            margin-top: 10px;
            font-size: 14px;
            color:#808080;
            text-align: center;
          }
        }

      }
      .tu{
        width:100%;
        height:500px;
        border:1px solid red;
        margin-top: 20px;
      }
    }
  }
}

li.active{
  a{
    color:$font-color-red!important;
  }
}

.font-red{
  color:$font-color-red;
}

.jypm-top{
  float: right;
  margin-top: 45px;

  >ul{
    >li{
      float: left;
      text-align: center;

      &:nth-child(-n+4){
        width: 127px;
      }
      a{
        color:$font-color;
        text-decoration: none;
        outline: none;
        font-size: 16px;
      }
      a:hover{
        color:$font-color-red;
        cursor: pointer;
      }
      a:active{
        color:$font-color-red;
        cursor: pointer;
      }

      >img{
        margin-left:10px;
      }

      &:nth-last-child(4) , &:nth-last-child(3){
        margin-right: 20px;
      }
      >ul{
        padding: 0px;
        margin-top: 53px;
        background: #fff;
        display: none;
        box-shadow: 1px 3px 12px #d9d9d9;


        >li{
          text-align: left;
          width: 127px;
          height:40px;
          line-height: 40px;
          padding-left: 25px;

          a{
            color:$font-color;
          }

          &:hover{
            color:$font-color-red;
          }
        }
      }
    }
  }
}
