th{
  white-space: nowrap;
  text-align: center;
}

td{
  white-space: nowrap;
  text-align: center;
}

.form_check>div{
  line-height: 33px;
}

.form_check input[type="checkbox"]{
  float: right;
  margin-top: 8px;
}

.really{
  width: 400px;
  margin-left: 100px;
}
.really h4{
  width: 400px;
  margin-left: 100px;
  text-align: left;
}
.dataTables_filter{
  margin-bottom: 15px;
  width:100%;!important;
}
.dataTables_filter fieldset{
  float: left;
}
.dataTables_filter fieldset label{
  font-size: 10px;
  margin-top: 8px;
}
