th{
  white-space: nowrap;
  text-align: center;
}

td{
  white-space: nowrap;
  text-align: center;
}

.form_check>div{
  line-height: 33px;
}

.form_check input[type="checkbox"]{
  float: right;
  margin-top: 8px;
}

.really{
  width: 400px;
  margin-left: 100px;
}
.really h4{
  width: 400px;
  margin-left: 100px;
  text-align: left;
}
.dataTables_filter{
  margin-bottom: 15px;
  width:100%;!important;
}
.dataTables_filter fieldset{
  float: left;
}
.dataTables_filter fieldset label{
  font-size: 10px;
  margin-top: 8px;
}

.inemail{
	margin-left:20px;
}
.inemail>form>input{
	margin-left: 20px;
}
.inemail>form>input{
	margin-top: 10px;
}


.inemail>form>span:nth-child(5){
	margin-left: 78px;
}
.inemail>form>span:nth-child(8){
	margin-left: 78px;
}
.inemail>form>span:nth-child(11){
	margin-left: 65px;
}

.Submit{
	margin-top: 40px;
	margin-left: 150px;
}
.inemailone{
	margin-left: 20px;
}
.inemailone>form>input{
	margin-left: 10px;
	/*margin-top: 10px;;*/
}
.switch{
	margin-top: 10px;
	
}
.switch>span{
	float: left;
}
.switch>select{
	width: 150px;
}




